@import '../../../../common/mixins/index.scss';

.seconds-kills {
    display: flex;
    flex-wrap: wrap;

    .item {
        width: 360px;
        padding: 20px;
        border-right: 2px solid #F3F3F3;
        box-sizing: border-box;

        .product {
            width: 132px;

            .img {
                width: 132px;
                height: 132px;
            }

            .price {
                @include line(1)
            }
        }

        .title {
            font-size: 32px;
            margin-bottom: 25px;

            .countdouwn {
                padding: 0 5px;
                height: 45px;
                margin-left: 8px;
                font-size: 20px;
                background: rgba(239, 95, 0, 0.19);
                border-radius: 8px;
                box-sizing: border-box;
                border: 2px solid #00D0BF;
            }


        }

    }
}