.oss-wrap {
    .empty-box {
        margin: 0 auto;
        margin-top: 230px;

        .text {
            margin-top: 20px;
            color: #999;
            font-size: 28px;
        }
    }

    .up_img_wrap {

        margin: 7px;
        width: calc(33.33vw - 14px);
        height: calc(33.33vw - 14px);
        border-radius: 8px;
        background: #fff;
        border: 2px dashed #00D0BF;

        button {
            width: 100%;
            height: 100%;
        }

        .iconfont {
            font-size: 150px;
            color: #00D0BF;
        }
    }

    .img {
        margin: 7px;
        width: calc(33.33vw - 14px);
        height: calc(33.33vw - 14px);
        background: #D8D8D8;
        border-radius: 8px;
    }

    .btns {
        margin-top: 300px;
        width: 100%;
        justify-content: space-around;
        font-size: 36px;

        .cancel {
            width: 320px;
            height: 90px;
            color: #666;
            border-radius: 60px;
            border: 2px solid #666666;
        }

        .ok {
            width: 320px;
            height: 90px;
            color: #fff;
            background: #00D0BF;
            border-radius: 60px;
        }
    }
}