.edit_address_wrap {
    background-color: #fff;

    form {
        width: 100%;
        box-sizing: border-box;
    }

    .edit_box {
        width: 96vw;
        // margin-top: 20px;
        box-sizing: border-box;
        background-color: #fff;
        padding: 0 16px;
        border-radius: 20px;
        color: #333;

        .iconfont {
            font-size: 36px;
        }

        .name,
        .phone,
        .address,
        .address_desc,
        .is_default,
        .tag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            // border-radius: 20px;
            height: 110px;
            // margin-bottom: 20px;
            border-bottom: 2px solid rgb(245, 245, 245);

            .tag_info {
                flex: 1;
            }

            label {
                width: 180px;
            }

            input {
                width: calc(100% - 180px);
                text-align: left;
                color: #333333;
            }
        }

        .is_default {
            border-bottom: 2px solid rgb(245, 245, 245);
        }

        .tag {
            .tag_content{
             
                flex: 1;
                justify-content: flex-start;
                align-items: center;
                .item {
                    width: 80px;
                    border-radius: 8px;
                    border: 2px #ccc solid;
                    font-size: 24px;
                    padding: 4px 8px;
                    margin-left: 16px;
                    transition: 500ms;
                    text-align: center;
                    
                    &:nth-of-type(1){
                        margin-left: 0;
                    }
                }
              

            }
           

            .act-item {
                color: #fff;
                background-color: rgba(0, 208, 191, 1);
                border: 2px rgba(0, 208, 191, 1) solid;
            }
        }

        .address {
            position: relative;

            .picker {
                padding-right: 40px;
                box-sizing: border-box;
            }

            .icon-right {
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
            }

        }
    }

    .picker {
        color: #777;
        display: flex;
        flex: 1;
        color: #333333;
    }

    .foot_btn {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .foot_address_del_btn {
            width: 330px;
            height: 90px;
            background-color: white;
            color: #00D0BF;
            ;
            font-size: 36px;
            border-radius: 58px;
            border: 2px solid #00D0BF;
            margin-top: 60px;
        }

        .foot_address_btn {
            width: 330px;
            height: 90px;
            background-color: #00D0BF;
            border: 2px solid #00D0BF;
            color: #fff;
            font-size: 36px;
            border-radius: 58px;
            margin-top: 60px;
        }
    }

}