.sku {
    position: relative;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 16px;
    padding-bottom: 40px;

    image {
        width: 100%;
        height: 100%;
    }

    .icon-close {
        position: absolute;
        right: 16px;
        top: 10px;
    }

    // 商品信息
    .title {
        height: 200px;

        .img {
            width: 200px;
            height: 200px;
            border-radius: 18px;
            overflow: hidden;
            margin-right: 24px;

            image {
                width: 200px;
                height: 200px;
            }
        }

        .content {
            height: 100%;
            font-size: 24px;
            color: #666;

            .price {
                color: rgb(233, 56, 25);
                font-size: 48px;
                margin-right: 12px;

            }

            .select {
                margin-top: 8px;
            }
        }
    }

    // sku选择
    .spec-box {
        margin-bottom: 30px;

        .select_title {
            font-size: 32px;
            color: #999;
            padding: 24px 0;
        }

        .select_list {
            box-sizing: border-box;
            flex-wrap: wrap;

            .item {
                margin-right: 24px;
                padding: 12px 29px;
                border-radius: 8px;
                color: #333;
                border: 2px solid #eee;
                font-size: 24px;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 300ms;
                margin-bottom: 12px;
            }

            .act_item {
                color: rgb(255, 78, 8);
                // border: solid 2px rgb(255, 78, 8);
                background-color: rgb(255, 224, 224);
            }

            .disabled {
                color: rgb(200, 200, 200);
                background-color: rgb(250, 250, 250);
            }
        }
    }

    // 数量选择
    .buy_number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        padding-top: 10px;

        .number_title {
            font-size: 32px;
            color: #333;
        }
    }

    .btn_wrap {
        width: calc(100vw - 48px);
        display: flex;
        color: #fff;
        font-size: 28px;

        .btn {
            flex: 1;
            height: 80px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            background-color: rgb(235, 55, 43);
            margin-top: 20px;
        }

        .normal {
            border-radius: 40px !important;
        }

        .buy-btn {
            border-radius: 0 40px 40px 0;
        }

        .cart-btn {
            background-color: rgb(255, 159, 70);
            border-radius: 40px 0 0 40px;
        }
    }
}