.product-item {
  position: relative;
  width: 718px;
  min-height: 186px;
  height: auto !important;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 15px !important;
  border-radius: 16px !important;
  overflow: hidden;

  .product {
    width: 100%;

    .price {
      font-size: 32px;
    }
  }

  .p-tag-wrap {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .p-desc {
    width: calc(100% - 170px) !important;

    & .p-name {
      font-size: 30px !important;
    }
  }

  .sale {
    color: #999;
    font-size: 26px;
  }
}