.center_wrap {
    // min-height: 100vh;
    // height: 100vh;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding-bottom: 30px;

    .user {
        // height: 200px;
        background-color: #f3f3f3;

        .userinfo {
            // background: transparent;
            // box-sizing: border-box;
            padding: 0 16px;
            // height: 120px;
            color: #fff;
            border-radius: 0 0 80px 80px;
            padding-bottom: 40px;

            .avatar-wrap {
                width: 120px;
                height: 120px;
            }

            .info {
                height: 100%;
                // width: calc(100% - 32px);
                width: 100%;
                box-sizing: border-box;
                padding-left: 20px;

                .left {
                    width: 100%;
                    height: 100%;
                    justify-content: space-around;
                }

                .nickname {
                    font-size: 36px;
                }

                .mobile {
                    width: 100%;
                    font-size: 28px;

                    .iconfont {
                        font-size: 36px;
                    }
                }
            }
        }

    }

    .handle {
        box-sizing: border-box;
        // padding: 0 24px;


        .flex-handle {
            background-color: #fff;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            padding: 0 16px;

            .iconfont {
                color: #999;
                font-size: 36px;
            }

        }

        .wallet-common {
            // height: 200px;
            position: relative;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color: #fff;
            font-size: 28px;
            padding: 0 34px 0 40px;
            padding-bottom: 60px;
            color: #333;
            flex-wrap: wrap;
            flex-shrink: 0;

            .fdc {
                width: 25%;
            }

            .iconfont,
            .price {
                height: 52px;
                margin-bottom: 16px;
            }
        }

        .wallet {
            padding-top: 60px;
            margin-top: 20px;

            .price {
                font-size: 36px;
                color: rgb(255, 65, 40);
            }
        }

        .order-card {
            color: #777;
            flex-wrap: nowrap;
            padding: 25px 16px;

            .fdc {
                flex: 1;
            }

            // height: 160px;
        }

        .title {
            width: 100%;
            height: 80px;
            font-size: 34px;
            margin-bottom: 40px;
            color: #333;
        }

        .my-server {
            height: auto;
            flex-wrap: wrap;
            background-color: #fff;
            padding-bottom: 0;

            .iconfont {
                color: rgb(255, 65, 40);
            }



            .fdc {
                margin-bottom: 60px;
            }
        }
    }

}