.center_wrap {
    // min-height: 100vh;
    // height: 100vh;
    background-color: #f3f3f3;
    box-sizing: border-box;
    padding-bottom: 30px;

    .user {
        // height: 200px;
        background-color: #f3f3f3;
        padding-bottom: 20px;
        margin-bottom: 20px;

        .cardpay {
            margin: 0 16px;
            background-color: rgba(255, 255, 255, 1);
            height: 180px;
            border-radius: 17px;
            padding-bottom: 20px;
            position: relative;
            background-image: url('../../../assets/images/vipbg.png');
            background-size: 380px 100px;
            background-repeat:no-repeat;
            background-position-x: right;

            .vip-img {
                position: absolute;
                top: 0;
                left: 0;
            }

            .card-info {
                padding-top: 85px;
                margin: 0 32px;

                .btn-pay {

                    color: #FFFFFF;
                    font-size: 24px;
                    border-radius: 30px;
                    background: #00D0BF;
                    padding: 0 20rpx;
                }
            }
        }

        .userinfo {
            // background: transparent;
            // box-sizing: border-box;
            padding: 0 16px;
            // height: 120px;
            color: #fff;
            border-radius: 0 0 80px 80px;
            padding-bottom: 40px;

            .avatar-wrap {
                width: 120px;
                height: 120px;
            }

            .info {
                height: 100%;
                width: calc(100% - 120px);
                box-sizing: border-box;
                padding-left: 20px;

                .left {
                    width: 100%;
                    height: 100%;
                    justify-content: space-around;
                }

                .nickname {
                    font-size: 36px;
                }

                .mobile {
                    width: 100%;
                    font-size: 28px;

                    .iconfont {
                        font-size: 36px;
                    }
                }
            }
        }

    }

    .handle {
        box-sizing: border-box;
        // padding: 0 24px;


        .flex-handle {
            background-color: #fff;
            width: 100%;
            height: 100px;
            box-sizing: border-box;
            padding: 0 16px;
            color: #333;
            // border-bottom: 2px solid rgba(222, 222, 222, 1);

            .iconfont {
                font-size: 36px;
                margin-right: 14px;
                color: #333;
            }

            .icon-right {
                color: #999;
                margin-right: 0;
            }

        }

        .wallet-common {
            // height: 200px;
            position: relative;
            margin-bottom: 20px;
            // border-radius: 8px;
            background-color: #fff;
            font-size: 28px;
            padding: 0 34px 0 40px;
            padding-bottom: 60px;
            color: #333;
            flex-wrap: wrap;
            flex-shrink: 0;

            .fdc {
                width: 25%;
            }

            .iconfont {
                font-size: 72px;
                background-image: linear-gradient(135deg, #00FFD9 0%, #00CCFB 100%);
                -webkit-background-clip: text;
                color:transparent;
            }
            .price {
                height: 52px;
                margin-bottom: 16px;
            }
        }

        .wallet {
            padding-top: 60px;
            margin-top: 20px;

            .price {
                font-size: 36px;
                color: rgb(255, 65, 40);
            }
        }

        .order-card {
            color: #333;
            flex-wrap: nowrap;
            padding: 25px 16px;

            .fdc {
                flex: 1;
            }

            // height: 160px;
        }

        .title {
            width: 100%;
            height: 80px;
            font-size: 34px;
            margin-bottom: 40px;
            color: #333;
        }

        .my-server {
            height: auto;
            flex-wrap: wrap;
            background-color: #fff;
            padding-bottom: 0;

            .iconfont {
                color: rgb(255, 65, 40);
            }



            .fdc {
                margin-bottom: 60px;
            }
        }
    }

}