.order-list-wrap {
    min-height: 100vh;
    background-color: pink;

    .autoHeight {
        padding-top: 20px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    .bg {
        margin-top: 20px;
        // margin-bottom: 20px;
        box-sizing: border-box;

        // background-color: rgb(230, 230, 230);
    }

    .nav {
        height: 70px;
        display: flex;
        justify-content: space-around;

        .nav-item {
            // width: 20%;
            margin: 0;
        }

        .nav-line {
            height: 8px;
            margin-bottom: 6px;
        }
    }

    .order-item {
        width: calc(100% - 32px);
        background-color: #fff;
        box-sizing: border-box;
        padding: 40px 32px;
        border-radius: 12px;

        .title {
            color: #999;
            margin-bottom: 60px;
        }


        .info {
            margin-top: 60px;
            justify-content: flex-end;
            font-size: 30px;

            .price {
                color: rgb(255, 47, 47);
            }
        }

        .btns {
            margin-top: 32px;
            justify-content: flex-end;

            .btn {
                height: 60px;
                font-size: 32px;
                padding: 0 24px;
                color: rgb(255, 47, 47);
                border: 2px rgb(255, 47, 47) solid;
            }
        }
    }

    .swiper {
        .swiper_ex {
            box-sizing: border-box;
            background-color: transparent;
        }
    }
}