.order-list-wrap {
    min-height: 100vh;
    background-color: rgb(230, 230, 230);

    .autoHeight {
        padding-top: 20px;
        box-sizing: border-box;
    }

    .bg {
        margin-bottom: 20px;
        box-sizing: border-box;
        // background-color: rgb(230, 230, 230);
    }

    .nav {
        height: 80px;
        display: flex;
        justify-content: space-around;

        .nav-item {
            // width: 20%;
            margin: 0;
        }
    }

    .order-item {
        width: calc(100% - 32px);
        background-color: #fff;
        box-sizing: border-box;
        padding: 40px 32px;
        border-radius: 12px;

        .title {
            color: #999;
            margin-bottom: 60px;
        }

        .card {
            width: 100%;
            height: 200px;

            .img {
                margin-right: 20px;
            }

            .product {
                max-width: none;
                width: 100%;
                height: 100%;


                .fb {
                    width: 100%;
                    font-size: 26px;
                    color: #999;
                }

                .desc {
                    max-width: calc(100% - 200px - 20px);
                    height: 100%;
                    justify-content: space-around;

                    .p-name {
                        margin-right: 32px;
                    }
                }
            }
        }



        .info {
            margin-top: 60px;
            justify-content: flex-end;
            font-size: 30px;

            .price {
                color: rgb(255, 47, 47);
            }
        }

        .btns {
            margin-top: 32px;
            justify-content: flex-end;

            .btn {
                height: 60px;
                font-size: 32px;
                padding: 0 24px;
                color: rgb(255, 47, 47);
                border: 2px rgb(255, 47, 47) solid;
            }
        }
    }


    .swiper {

        .swiper_ex {
            background-color: rgb(247, 247, 247);
        }
    }
}