.order-list-wrap {
    height: 100vh;
    box-sizing: border-box;
    background-color: #f3f3f3;
    // background-color: pink;

    .deliveryMethod {
        padding-top: 30px;
        background: rgba(255, 138, 83, 0.99);
        align-items: flex-end;

        .tab {
            font-size: 28px;
            width: 50%;
            height: 50px;
            color: #333;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0px 20px 0px 0px;
            transition: 400ms;
        }

        .act-tab {
            background: #FFFFFF;
            font-weight: bold;
            height: 64px;
            border-radius: 20px 20px 0px 0px;
        }
    }

    .order_tab {}

    .autoHeight {
        padding-top: 20px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    .bg {
        margin-top: 20px;
        // margin-bottom: 20px;
        box-sizing: border-box;

        // background-color: rgb(230, 230, 230);
    }

    .nav {
        height: 104px;
        display: flex;
        justify-content: space-around;

        .nav-item {
            // width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;

            &-act {
                color: #EF5F00;
            }
        }

        .nav-line {
            height: 8px;
            background-color: #EF5F00;
            margin-bottom: 12px;
        }
    }

    .order-item {
        width: calc(100% - 32px);
        background-color: #fff;
        box-sizing: border-box;
        padding: 0 16px 25px 16px;
        border-radius: 12px;
        position: relative;

        .title {
            color: #333;
            height: 92px;

            .status {
                color: #EF5F00;
            }
        }


        .info {
            padding: 0 16px 0 35px;
            height: 100px;
            position: absolute;
            top: 92px;
            right: 0;
            font-size: 28px;
            background-color: rgba(255, 255, 255, .84);
            color: #333;

            .price {
                font-weight: bold;
                color: #333;
            }
        }

        .btns {
            margin-top: 32px;
            justify-content: flex-end;

            .btn {
                margin-left: 15px;
                width: 150px;
                height: 58px;
                font-size: 26px;
                background: #FFFFFF;
                border-radius: 29px;
                border: 2px solid #333333;
            }

            .act-btn {
                color: #fff;
                background: #EF5F00;
                border: 2px solid #EF5F00;
                border-radius: 29px;
            }
        }
    }

    .swiper {
        .swiper_ex {
            box-sizing: border-box;
            background-color: transparent;
        }
    }
}