.order-list-wrap {
    // height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #f3f3f3;

    // background-color: pink;
    .swiper_ex {
        min-height: calc(100vh - 180px - 100px - 125px);

        .autoHeightorder_tab {
            box-sizing: border-box;
            padding-bottom: 30px;
        }
    }

    .deliveryMethod {
        // margin: 0 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: flex-end;
        // margin-bottom: 10px;
        background-color: rgba(0, 208, 191, 1);

        .deliveryMethod-bg {
            background: rgba(51, 51, 51, 0.2);
            width: 100%;
            display: flex;
            border-radius: 33px;
            margin: 0 100px;

            .tab {
                flex: 1;
                font-size: 28px;
                height: 66px;
                color: #333;
                border-radius: 33px;
                transition: color 400ms ease;
                color: rgba(255, 255, 255, 0.8);
                // transition: 400ms;
            }
    
            .act-tab {
                background: #FFFFFF;
                font-weight: bold;
                height: 66px;
                border-radius: 33px;
                color: #00D0BF;
            }
        }

    }

    .order_tab {}

    .autoHeight {
        padding-top: 20px;
        padding-bottom: 40px;
        box-sizing: border-box;
    }

    .bg {
        margin-top: 20px;
        // margin-bottom: 20px;
        box-sizing: border-box;

        // background-color: rgb(230, 230, 230);
    }

    .nav {
        height: 104px;
        display: flex;
        justify-content: space-around;

        .nav-item {
            // width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            color: rgba(51, 51, 51, 0.7);
            font-size: 28px;

            &-act {
                color: #00D0BF;
            }
        }

        .nav-line {
            height: 8px;
            background-color: #00D0BF;
            margin-bottom: 12px;
        }
    }

    .order-item {
        width: calc(100% - 32px);
        background-color: #fff;
        box-sizing: border-box;
        padding: 0 16px 25px 16px;
        border-radius: 12px;
        position: relative;

        .title {
            color: #333;
            height: 92px;

            .status {
                color: #00D0BF;
            }
        }


        .info {
            padding: 0 16px 0 35px;
            height: 100px;
            position: absolute;
            top: 92px;
            right: 0;
            font-size: 28px;
            background-color: rgba(255, 255, 255, .84);
            color: #333;

            .price {
                font-weight: bold;
                color: #333;
            }
        }

        .btns {
            margin-top: 32px;
            justify-content: flex-end;

            .btn {
                margin-left: 15px;
                width: 150px;
                height: 58px;
                font-size: 26px;
                background: #FFFFFF;
                border-radius: 29px;
                border: 2px solid #333333;
            }

            .act-btn {
                color: #fff;
                background: #00D0BF;
                border: 2px solid #00D0BF;
                border-radius: 29px;
            }
        }
    }

    .swiper {
        .swiper_ex {
            box-sizing: border-box;
            background-color: transparent;
        }
    }
}