@import '../../../common/mixins/index.scss';

.cate-wrap {
    max-height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;

    .search {
        margin-bottom: 15px;
    }

    .cate-banner {
        // height: 220px;
        // 迭代
        height: 308px;
        margin-bottom: 10px;
    }


    // tabs
    .vTabs-wrap {
        .item_scroll {
            box-sizing: border-box;
            background-color: #fff;
        }

        .left_wrap {
            width: 160px;
            font-size: 28px;
            color: #333;
        }

        .parentClass {
            background-color: rgb(245, 245, 245);
        }

        .tabs_item {
            color: #555;
            background-color: none;
            font-size: 30px;
        }

        .tabs_act_item {
            background-color: #fff;
        }

        .nav-line {
            width: 3px;
            background-color: rgb(243, 60, 28);
        }

        .cate-content {
            height: 100%;
            width: 100%;

            .child-cate {
                white-space: nowrap;
                font-size: 24px;
                background-color: #F3F3F3;
                padding: 0 24px;
                height: 50px;
                line-height: 50px;
                border-radius: 6px;
                margin-right: 24px;
                color: #333;
            }

            .act_child-cate {
                color: #EF5F00;
                background-color: rgba(239, 95, 0, 0.2);
            }

            ::-webkit-scrollbar {
                display: none;
            }

            .child-tab {
                width: 100%;
                position: sticky;
                top: 0;
                background-color: #fff;
                padding: 0 20px;
                padding-right: 0;
                padding-top: 15px;
                z-index: 4;
                // height: 74px;
                padding-bottom: 24px;
                // margin-bottom: 24px;
                box-sizing: border-box;

                .child-wrap {
                    height: 100%;
                    width: calc(100% - 54px);
                    flex-shrink: 0;
                    box-sizing: border-box;
                    overflow-x: scroll;
                }

                .square {
                    position: absolute;
                    right: 0;
                    width: 54px;
                    height: 100%;
                    background-color: #fff;
                }

            }

            .show-cate {
                position: sticky;
                height: auto;
                flex-wrap: wrap;
                top: 74px;
                width: 100%;
                right: 0;
                z-index: 3;
                background-color: #fff;
                padding: 15px 20px;
                padding-top: 0px;
                box-sizing: border-box;

                .child-cate {
                    margin-bottom: 20px;
                }
            }

            .mask {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
            }

            .item-box {
                // background-color: pink;
                width: 100%;
                flex-shrink: 0;
                flex-wrap: wrap;
                position: relative;

                .item {
                    justify-content: flex-start;
                    width: 100%;
                    align-items: flex-start;
                    font-size: 30px;
                    color: #888;
                    // height: 320px;
                    box-sizing: border-box;
                    padding: 0 20px;

                    .content {
                        width: calc(100% - 160px);
                    }

                    .name {
                        font-size: 30px;
                        color: #333;
                        margin-bottom: 5px;
                    }

                    .desc {
                        font-size: 24px;
                        margin-bottom: 10px;
                    }

                    .price-box {
                        font-size: 28px;

                        .price {
                            font-weight: bold;
                            font-size: 36px;
                        }

                        .sale {
                            font-size: 26px;
                        }
                    }

                    .img {
                        background-color: #f3f3f3;
                        margin-bottom: 16px;
                        width: 140px;
                        height: 140px;
                        margin-right: 10px;
                        border-radius: 8px;
                        overflow: hidden;
                    }

                    .text {
                        max-width: 140px;
                        text-align: center;
                        line-height: 1.6;
                    }

                    .foot {
                        height: 50px;
                        padding-bottom: 25px;
                        border-bottom: 2px solid #F3F3F3;
                        margin-bottom: 25px;
                    }
                }
            }

            /* 迭代样式 */
            // .item-box {
            //     // background-color: pink;
            //     width: 100%;
            //     flex-shrink: 0;
            //     flex-wrap: wrap;

            //     .item {
            //         justify-content: flex-start;
            //         width: 33%;
            //         align-items: center;
            //         font-size: 30px;
            //         color: #888;
            //         height: 320px;

            //         .img {
            //             margin-bottom: 16px;
            //             width: 140px;
            //             height: 140px;
            //             border-radius: 8px;
            //             overflow: hidden;
            //         }

            //         .text {
            //             max-width: 140px;
            //             text-align: center;
            //             line-height: 1.6;
            //         }
            //     }
            // }


        }
    }

    .show-sku {
        z-index: 1;
        right: 15px;
        bottom: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: linear-gradient(120deg, #FF7A45 0%, #F53D3D 100%);

        font-size: 40px;
        line-height: 44px;
        font-weight: 800;
        text-align: center;
        color: #fff;

    }

    // .vip-price {
    //     margin: 0;
    //     // margin-bottom: 25px;
    // }
}