@import '../../../common/mixins/index.scss';

.cate-wrap {
    max-height: 100%;
    background-color: #F3F3F3;
    overflow: hidden;

    .search {
        margin-bottom: 15px;
    }

    .cate-banner {
        height: 220px;
    }

    .coupon {
        background-color: #fff;
        width: 100%;
        height: 88px;
        margin-bottom: 10px;
        flex-shrink: 0;
        flex-wrap: nowrap;
        overflow-y: scroll;
        color: #fff;
        box-sizing: border-box;
        padding: 19px 15px;
        font-size: 22px;

        .item {
            height: 50px;
            // padding: 10px 6px 10px 12px;
            margin-right: 10px;

            .left,
            .right {
                padding: 0 6px;
                height: 50px;
                border-radius: 8px;
                position: static;
                z-index: 1;
                background: rgba(239, 95, 0, 0.8);
            }

            .line {
                position: absolute;
                right: -1px;
                top: 50%;
                transform: translateY(-50%);
                height: 40px;
                z-index: 3;
                border: dashed rgba(255, 255, 255, 0.5) 2px;
            }

            .left {
                position: relative;
                overflow: hidden;
                padding: 0 12px;

                .square {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 78px;
                    z-index: 0;
                    height: 50px;
                    background: linear-gradient(228deg, #FEB963 0%, #FC8434 100%);
                    border-radius: 16px 0px 100px 16px;
                }
            }

            .right {}

        }
    }









    // tabs
    .vTabs-wrap {
        .item_scroll {
            background-color: #fff;
        }

        .left_wrap {
            width: 160px;
            font-size: 28px;
            color: #333;
        }

        .parentClass {
            background-color: rgb(245, 245, 245);
        }

        .tabs_item {
            color: #555;
            background-color: none;
            font-size: 30px;
        }

        .tabs_act_item {
            background-color: #fff;
        }

        .nav-line {
            width: 3px;
            background-color: rgb(243, 60, 28);
        }

        .item_scroll {
            padding-top: 15px;
            box-sizing: border-box;
        }

        .cate-content {
            width: 100%;

            .child-cate {
                white-space: nowrap;
                font-size: 24px;
                background-color: #F3F3F3;
                padding: 0 24px;
                height: 50px;
                line-height: 50px;
                border-radius: 6px;
                margin-right: 24px;
                color: #333;
            }

            .act_child-cate {
                color: #EF5F00;
                background-color: rgba(239, 95, 0, 0.2);
            }

            ::-webkit-scrollbar {
                display: none;
            }

            .child-tab {
                padding: 0 20px;
                width: calc(100% - 48px);
                height: 50px;
                overflow-x: scroll;
                flex-shrink: 0;
                margin-bottom: 24px;
                box-sizing: border-box;


                .square {
                    position: absolute;
                    right: 0;
                    width: 40px;
                    height: 50px;
                    background-color: pink;
                }

            }

            .item-box {
                // background-color: pink;
                width: 100%;
                flex-shrink: 0;
                flex-wrap: wrap;
                position: relative;

                .show-cate {
                    position: absolute;
                    height: auto;
                    overflow-x: hidden;
                    overflow-y: scroll;
                    width: 100%;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    background-color: #fff;
                    padding: 15px 20px;
                    box-sizing: border-box;
                }

                .mask {
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: 920px;
                    background: rgba(0, 0, 0, 0.6);
                }

                .item {
                    justify-content: flex-start;
                    width: 100%;
                    align-items: center;
                    font-size: 30px;
                    color: #888;
                    height: 320px;
                    box-sizing: border-box;
                    padding: 0 20px;

                    .content {
                        width: calc(100% - 160px);
                    }

                    .name {
                        font-size: 30px;
                        color: #333;
                        margin-bottom: 5px;
                    }

                    .desc {
                        font-size: 24px;
                        margin-bottom: 10px;

                        .desc-item {
                            border-radius: 4px;
                            border: 2px solid #EF5F00;
                            height: 36px;
                            padding: 0 12px;
                            margin-right: 10px;
                        }
                    }

                    .price-box {
                        font-size: 28px;

                        .price {
                            font-weight: bold;
                            font-size: 36px;
                        }

                        .sale {
                            font-size: 26px;
                        }
                    }

                    .img {
                        margin-bottom: 16px;
                        width: 140px;
                        height: 140px;
                        margin-right: 10px;
                        border-radius: 8px;
                        overflow: hidden;
                    }

                    .text {
                        max-width: 140px;
                        text-align: center;
                        line-height: 1.6;
                    }
                }
            }


        }
    }

    .show-sku {
        z-index: 1;
        right: 15px;
        bottom: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: linear-gradient(120deg, #FF7A45 0%, #F53D3D 100%);
    }

    .vip-price {
        width: max-content;
        height: 44px;
        font-size: 22px;
        background: rgba(225, 140, 0, 0.15);
        border-radius: 8px;
        padding: 0 10px;
        box-sizing: border-box;
        color: #CA7E00;
    }
}