.avatar-wrap {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;

    .img {
        width: 100%;
        height: 100%;
    }

    .iconfont {
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 80px;
    }
}