.edit_address_wrap {
    background-color: rgb(250, 250, 250);
    border-top: 2px solid rgb(245, 245, 245);
    background: #FFFFFF;
    form {
        width: 100%;
        box-sizing: border-box;
    }

    .edit_box {
        width: 96vw;
        // margin-top: 20px;
        box-sizing: border-box;
        background-color: #fff;
        padding: 0 16px;
        // border-radius: 20px;
        color: #333;

        .iconfont {
            font-size: 36px;
        }

        .name,
        .phone,
        .address,
        .address_desc,
        .is_default,
        .tag {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 30px;
            // border-radius: 20px;
            height: 110px;
            color: #333333;
            font-weight: 400;
            // margin-bottom: 20px;
            border-bottom: 2px solid rgb(245, 245, 245);

            label {
                width: 180px;
            }

            input {
                width: calc(100% - 180px);
                text-align: left;
                color: #333333
            }
            .tag_content {
                flex: 1;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .address {
            position: relative;

            .picker {
                padding-right: 40px;
                box-sizing: border-box;
            }

            .icon-right {
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
            }

        }

        .is_default {
            border-bottom: 2px solid rgb(245, 245, 245);
        }

        .tag {
            .item {
                border: 2px #ccc solid;
                border-radius: 20px;
                font-size: 24px;
                padding: 4px 8px;
                margin-left: 16px;
                transition: 500ms;
            }

            .act-item {
                color: #fff;
                background-color: rgb(255, 140, 45);
                border: 2px rgb(255, 140, 45) solid;
            }
        }
    }

    .picker {
        color: #777;
        display: flex;
        flex: 1;
    }

    .foot_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        .foot_address_btn {
            width: 690px;
            height: 90px;
            background-color: rgba(239, 95, 0, 1);
            color: #fff;
            font-size: 36px;
            border-radius: 58px;
            margin-top: 60px;
        }
    }

}