.cart-wrap {
    min-height: 100vh;
    background-color: rgb(250, 250, 250);
    // background-color: pink;
    padding: 0 16px;
    box-sizing: border-box;

    .cart-title {
        background-color: rgb(250, 250, 250);
        width: 100%;
        padding: 0 24px;
        padding-right: 0;
        box-sizing: border-box;
        margin-bottom: 24px;
        position: sticky;
        left: 0;
        height: 80px;
        z-index: 99;

        .total {
            color: #666;
            font-size: 28px;
        }

        .header_edit {
            padding: 8px 38px;
            color: rgb(107, 107, 107);
            border-radius: 40px;
            font-size: 30px;
        }
    }

    .list {
        padding-bottom: 170px;
        overflow-x: hidden;
    }

    .move_wrap {
        margin-bottom: 24px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
        background-color: #fff;
        width: 100%;
        height: 130px;
        border-top: rgb(240, 240, 240) solid 2px;

        .left {
            font-size: 30px;
        }

        .pay {
            width: 100%;
            box-sizing: border-box;
            padding: 0 24px;

            .p_wrap {
                font-size: 28px;

                .price {
                    color: #333;

                    .price-color {
                        font-size: 36px;
                    }
                }
            }

            .btn {
                padding: 12px 48px;
                margin-left: 28px;
                color: #fff;
                border-radius: 50px;
                background-image: linear-gradient(to left, rgb(247, 137, 86) 0%, rgb(238, 64, 52) 100%);
                font-size: 28px;
            }
        }
    }

}