.card-order-list {
    background-color: #f3f3f3;
    box-sizing: border-box;
    min-height: 100vh;

    .header {
        position: sticky;
        border-top: 2px solid #DEDEDE;
        border-bottom: 2px solid #DEDEDE;

        .item {
            background-color: #FFFFFF;
            height: 80px;
            font-size: 28px;
            flex: 1;
            transition: 500ms;
            color: #333;
            display: flex;
            flex-direction: column;
        }

        .act-item {
            color: #00D0BF;
        }

        .act-item-line {
            bottom: 0;
            width: 60px;
            height: 6px;
            border-radius: 3px;
            background-color: #00D0BF;
            transition: 0.3s ease;
        }
    }

    .list {
        .item {
            box-sizing: border-box;
            background-color: #fff;
            padding: 26px 16px;
            margin-top: 20px;
            &:first-child {
                margin-top: 0;
            }

            .title {
                margin-bottom: 30px;
                font-size: 28px;

                .date {
                    color: #999;
                }

                .msg {
                    color: yellowgreen;
                }

                .fail_msg {
                    color: red;
                }
            }

            .info {
                color: #666;
                font-size: 28px;
                .info-item {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .info-item-color {
                        color: #333;
                        font-weight: bold;
                    }
                }
                text {}
            }
        }
    }
}