.coupon {
    background-color: #fff;
    width: 100%;
    height: 88px;
    white-space: nowrap;
    margin-bottom: 10px;
    color: #fff;
    box-sizing: border-box;
    padding: 19px 15px;
    font-size: 22px;
    overflow: scroll;

    .item {
        display: inline-flex;
        height: 50px;
        // padding: 10px 6px 10px 12px;
        margin-right: 10px;

        .left,
        .right {
            padding: 0 6px;
            height: 50px;
            border-radius: 8px;
            position: static;
            z-index: 1;
            background: rgba(239, 95, 0, 0.8);
        }

        .line {
            position: absolute;
            right: -1px;
            top: 50%;
            transform: translateY(-50%);
            height: 40px;
            z-index: 3;
            border: dashed rgba(255, 255, 255, 0.5) 2px;
        }

        .left {
            position: relative;
            overflow: hidden;
            padding: 0 12px;

            .square {
                position: absolute;
                left: 0;
                top: 0;
                width: 78px;
                z-index: 0;
                height: 50px;
                background: linear-gradient(228deg, #FEB963 0%, #FC8434 100%);
                border-radius: 16px 0px 100px 16px;
            }
        }

        .right {}

    }
}