.right-search {
    .wrap {
        .item {
            background-color: pink;
            margin-bottom: 20px;

            .flex {
                flex-wrap: wrap;
                flex-shrink: 0;

                ._item {
                    width: 30%;
                }

                .act {
                    border: 2px gray solid;
                    border-radius: 30px;
                    background-color: rgb(240, 240, 240);
                }
            }
        }

        .cate {
            input {
                width: 34%;
                border: 2px gray solid;
                background-color: rgb(240, 240, 240);
                text-align: center;
                font-size: 24px;
                border-radius: 30px;
            }

            .margin {
                margin: 0 30px;
            }
        }
    }
}