.index-wrap {
    background-color: rgb(245, 245, 245);

    .search {
        margin-top: 24px;
        background-color: rgb(245, 245, 245);
    }

    .home-searchv {
        background-color: #fff;
    }

    .index-banner {
        margin-top: 24px;
        height: 400px;
    }
}