@import '../../../common/mixins/index.scss';

.index-wrap {
    background-color: #F3F3F3;
    // min-height: 100vh;
    box-sizing: border-box;
    // padding-bottom: 24px;

    .seconds-kills,
    .recommended {
        margin: 0 auto;
        width: 720px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .search {
        position: sticky;
        top: 0;
        z-index: 1;
        padding-top: 24px;
        padding-bottom: 17px;
        background-color: #fff;
    }

    .sticy {
        top: 108px !important;
    }

    .home-searchv {
        background-color: #fff;
    }

    .index-banner {
        height: 360px;
    }

    .recommended {
        height: 220px;
        background: #C9C9C9;
        border-radius: 20px;
        backface-visibility: hidden;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }

    .pro-title {
        font-size: 34px;
        color: #666;
        height: 100px;
    }

    .nav {
        width: max-content;

        .nav-item {
            height: 94px;
            line-height: 94px;
            padding: 0 30px;
            position: relative;
            background-color: #fff;
            font-size: 34px;
            font-weight: bold;
            color: #333;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                width: 2px;
                height: 20px;
                background-color: #D8D8D8;
            }

            &:nth-last-child(2)::after {
                display: none;
            }
        }

        .nav-item-act {
            color: transparent;
            background-image: linear-gradient(135deg, #FF7A45, #F53D3D);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .nav-line {
            bottom: 14px;
            border-radius: 2px;
            height: 4px;
            background: linear-gradient(120deg, #FF7A45 0%, #F53D3D 100%);
        }


    }

    .pro-list {
        // width: 100%;
        flex-wrap: wrap;
        box-sizing: border-box;
        padding: 0 16px;
        padding-top: 16px;
        padding-bottom: 30px;

        // display: flex;
        // flex-flow: column wrap;
        .pro-item {
            width: 352px;
            height: 470px;
            background: #FFFFFF;
            border-radius: 10px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            justify-content: flex-start;

            .img {
                width: 352px;
                height: 248px;
                border-radius: 10px 10px 0px 0px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #C9C9C9;
            }

            .p-name,
            .price {
                margin-top: 10px;
                box-sizing: border-box;
                padding: 0 16px;
                font-size: 36px;
            }

            .p-name {
                font-size: 28px;
            }

            .foot {
                margin-top: 10px;
                position: relative;

                .show-sku {
                    position: absolute;
                    z-index: 1;
                    right: 16px;
                    bottom: 0;
                    width: 48px;
                    height: 48px;
                    font-size: 40px;
                    line-height: 44px;
                    font-weight: 800;
                    text-align: center;
                    color: #fff;
                    border-radius: 50%;
                    background: linear-gradient(120deg, #FF7A45 0%, #F53D3D 100%);
                }

                .vip-price {
                    margin-left: 16px;
                }
            }

            .p-name {
                color: #666;
                @include line(2)
            }

            .p-price {
                color: rgb(255, 36, 36);
            }

            .old-price {
                color: #ccc;
                font-size: 26px;
                margin: 0 20px;
                text-decoration: line-through;
            }
        }
    }
}