@import '../../../common/mixins/index.scss';

.index-wrap {
    background-color: #F3F3F3;
    min-height: 100vh;
    box-sizing: border-box;
    // padding-bottom: 24px;

    .seconds-kills,
    .recommended {
        margin: 0 auto;
        width: 720px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .search {
        position: sticky;
        top: 0;
        z-index: 2;
        padding-top: 24px;
        padding-bottom: 17px;
        background-color: #fff;
    }

    .sticy {
        top: 108px !important;
    }

    .home-searchv {
        background-color: #fff;
    }

    .index-banner {
        height: 360px;
    }

    .recommended {
        height: 220px;
        background: #C9C9C9;
        border-radius: 20px;
        backface-visibility: hidden;
        overflow: hidden;
        transform: translate3d(0, 0, 0);
    }

    .pro-title {
        font-size: 34px;
        color: #666;
        height: 100px;
    }

    .nav {
        display: flex;
        min-width: 100vw;
        width: max-content;
        flex-shrink: 0;
        // justify-content: space-;

        .nav-item {
            flex: 1;
            height: 94px;
            line-height: 94px;
            padding: 0 30px;
            position: relative;
            background-color: #fff;
            font-size: 34px;
            font-weight: bold;
            color: #333;

            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1;
                width: 2px;
                height: 20px;
                background-color: #D8D8D8;
            }

            &:nth-last-child(2)::after {
                display: none;
            }
        }

        .nav-item-act {
            color: #00D0BF;
        }

        .nav-line {
            bottom: 14px;
            border-radius: 2px;
            height: 4px;
            background: #00D0BF;
        }


    }

    .pro-list {
        // width: 100%;

        flex-wrap: wrap;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0 16px;
        padding-top: 16px;
        padding-bottom: 30px;

        .pro-item {
            width: 352px;
            height: 540px;
            background: #FFFFFF;
            border-radius: 10px;
            // padding-bottom: 16px;
            margin-bottom: 16px;
            justify-content: flex-start;

            .img {
                width: 352px;
                height: 352px;
                border-radius: 10px 10px 0px 0px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #DEDEDE;
            }

            .p-name,
            .price {
                margin-top: 10px;
                box-sizing: border-box;
                padding: 0 16px;
                font-size: 36px;

                .start {
                    font-size: 26px;
                }
            }

            .p-name {
                // height: 80px;
                color: #666;
                @include line(1);
                font-size: 28px;
            }

            .foot {
                box-sizing: border-box;
                padding: 0 16px;
                margin-top: 10px;
                justify-content: space-between;
                position: relative;


                .show-sku {
                    width: 48px;
                    height: 48px;
                    font-size: 40px;
                    line-height: 44px;
                    font-weight: 800;
                    text-align: center;
                    color: #fff;
                    border-radius: 50%;
                    background: #00D0BF;
                }
            }


            .p-price {
                color: rgb(255, 36, 36);
            }

            .old-price {
                color: #ccc;
                font-size: 26px;
                margin: 0 20px;
                text-decoration: line-through;
            }
        }
    }
}