.product-list-wrap {
    height: 100vh;
    background-color: #f3f3f3;
    overflow: hidden;

    .search {
        padding-bottom: 17px;
    }

    .screen {
        height: 104px;
        background-color: #fff;
        justify-content: space-around;
        border-top: 1px solid #dedede;

        .iconfont {
            font-size: 24px;
        }

        .item {
            font-size: 30px;
            text-align: center;
        }
    }

    .screen-active {
        font-size: 28px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #EF5F00;
    }

    .result-list {
        height: calc(100% - 188px);
        box-sizing: border-box;

        .card {
            box-sizing: border-box;
            border-radius: 0;
            // background-color: pink;
            // width: 100vw;

            .img {
                border-radius: 8px;
                overflow: hidden;
                margin-right: 30px;
                width: 140px;
                height: 140px;
            }

            padding: 0 24px;
        }
    }
}