.product-list-wrap {
    min-height: 100vh;
    background-color: rgb(250, 250, 250);

    .screen {
        height: 120px;
        background-color: #fff;
        justify-content: space-around;

        .item {
            font-size: 30px;
            text-align: center;
        }
    }

    .result-list {
        .card {
            box-sizing: border-box;
            border-radius: 0;
            // background-color: pink;
            width: 100vw;

            .img {
                border-radius: 8px;
                overflow: hidden;
                margin-right: 30px;
            }

            padding: 0 24px;
        }
    }
}