.address_manage_wrap {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgb(250, 250, 250);

    .select_icon {
        .iconfont {
            font-size: 40px !important;
        }

        .icon-roundcheck {
            background-color: red;
            border-radius: 50%;
            color: #fff;
        }
    }

    .user_info,
    .address_info,
    .name_box,
    .footer {
        display: flex;
        color: #333;
    }

    .list_scroll {
        box-sizing: border-box;
        padding: 0 16px;
        padding-top: 24px;

        .def {
            border: rgb(255, 122, 14) 2px solid;
            padding: 0 10px;
            font-size: 28px;
            border-radius: 10px;
            color: rgb(255, 122, 14);
            margin-right: 12px;
        }

        .item {
            border-radius: 20px;
            box-sizing: border-box;
            padding: 24px 18px;
            background-color: #fff;
            width: 100%;
            margin-bottom: 20px;
            position: relative;

            .user_info {
                margin-bottom: 24px;

                .phone {
                    font-size: 30px;
                }

                .name {}
            }

            .address_info {
                font-size: 28px;
                color: #333;
                margin-top: 12px;
            }

            .footer {
                margin-top: 24px;
                padding-top: 30px;
                padding-bottom: 10px;
                border-top: 2px rgb(246, 246, 246) solid;
                color: rgb(110, 110, 110);
                font-size: 30px;

                .iconfont {
                    font-size: 32px;
                    margin-right: 8px;
                }

                .edit {
                    margin-right: 30px;
                }
            }

        }
    }


    .foot_btn {
        width: 100%;
        display: flex;
        // align-items: center;
        color: #fff;
        justify-content: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        z-index: 99;

        .add {
            height: 80%;
            background-color: rgb(255, 66, 41);
            display: flex;
            align-items: center;
            color: #fff;
            justify-content: center;
            width: 90%;
            font-size: 32px;
            border-radius: 50px;
        }
    }
}