.address_manage_wrap {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 1);

    .select_icon {
        width: 76px;
        height: 45px;
        background: #EF5F00;
        color: #fff;
        font-size: 22px;
        border-radius: 23px;
    }

    .user_info,
    .address_info,
    .name_box,
    .footer {
        display: flex;
        color: #333;
    }

    .list_scroll {
        box-sizing: border-box;
        border-top: 2px rgb(246, 246, 246) solid;
        // padding: 0 16px;
        // padding-top: 24px;

        .def {
            border: rgb(255, 122, 14) 2px solid;
            padding: 0 10px;
            font-size: 28px;
            border-radius: 10px;
            color: rgb(255, 122, 14);
            margin-right: 12px;
        }

        .item {
            // border-radius: 20px;
            box-sizing: border-box;
            padding: 24px 16px;
            background-color: #fff;
            width: 100%;
            // margin-bottom: 20px;
            position: relative;
            border-bottom: 2px rgb(246, 246, 246) solid;

            .iconfont-vertical {
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
            }

            .user_info {
                margin-bottom: 24px;

                .name {
                    font-size: 32px;
                    font-weight: bold;
                    margin-right: 20px;
                }

                .number {}

            }

            .adress-content {
                .address_info {
                    font-size: 28px;
                    color: rgba(102, 102, 102, 1);
                    margin-top: 12px;
                }

                .phone {
                    font-size: 28px;
                    color: rgba(102, 102, 102, 1);
                    margin-top: 12px;
                    margin-left: 28px;
                }
            }

            .footer {
                margin-top: 24px;
                padding-top: 30px;
                padding-bottom: 10px;
                // border-top: 2px rgb(246, 246, 246) solid;
                color: rgb(110, 110, 110);
                font-size: 30px;

                .iconfont {
                    font-size: 32px;
                    margin-right: 8px;
                }

                .edit {
                    margin-right: 30px;
                    font-size: 26px;
                }

                .del1 {
                    font-size: 26px;
                }
            }

        }
    }


    .foot_btn {
        width: 100%;
        display: flex;
        align-items: center;
        color: #EF5F00;
        justify-content: center;
        position: fixed;
        bottom: 0;
        background-color: #fff;
        z-index: 99;
        border-top: 2px solid rgb(246, 246, 246);
        ;

        .foot_content {
            width: 100%;
            height: 50px;
            line-height: 50px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: center;

            .add_icon {
                color: #EF5F00;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: 2px solid #EF5F00;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 15px;
            }

            .add {
                background-color: white;
                display: flex;
                align-items: center;
                color: #EF5F00;
                font-weight: 500;
                justify-content: center;
                font-size: 36px;
            }
        }
    }
}