.types {
    height: 410px;
    background-color: #fff;
    margin-bottom: 20px;

    .swiper_item {
        flex-wrap: wrap;
    }

    .item {
        height: 50%;
        width: 25%;

        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            color: #fff;
            font-size: 40px;
            background: #00D0BF;
        }

        .text {
            margin-top: 20px;
            font-size: 28px;
            color: #333;
        }
    }

}