.home-searchview {
    display: flex;
    flex-direction: row;

    .home-search-input {
        width: 84%;
        color: #333;
    }

    .home-searchv {
        width: 100%;
        height: 80px;
        background: rgb(250, 250, 250);
        // box-shadow: 0px 0px 10px 0px rgba(9, 44, 76, 0.1);
        border-radius: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 28px;

        .iconfont {
            font-size: 30px;
        }

        .icon-sousuo {
            font-size: 30px;
            font-weight: bold;
            color: #999;
            align-self: center;
            margin-left: 20px;
        }

        .home-search {
            margin-left: 20px;
            color: #999;
        }
    }
}