.home-searchview {
    display: flex;
    flex-direction: row;

    .home-search-input {
        width: 71%;
        color: #333 !important;
    }

    .home-searchv {
        border: 2px solid #00D0BF;
        box-sizing: border-box;
        width: 100%;
        height: 68px;
        background: rgb(250, 250, 250);
        // box-shadow: 0px 0px 10px 0px rgba(9, 44, 76, 0.1);
        border-radius: 50px;
        display: flex;
        align-items: center;
        // justify-content: center;
        font-size: 28px;
        position: relative;

        .iconfont {
            font-size: 30px;
        }

        .icon-sousuo {
            font-size: 30px;
            font-weight: bold;
            color: #999;
            align-self: center;
            margin-left: 20px;
        }

        .home-search {
            margin-left: 20px;
            color: #999;
        }

        .search_btn {
            position: absolute;
            z-index: 1;
            top: 7px;
            background-color: #00D0BF;
            color: #fff;
            border-radius: 34px;
            font-size: 30px;
            right: 8px;
            width: 110px;
            height: 52px;
        }
    }
}