.refund_float {
    .title {
        height: 100px;
        font-size: 34px;
        color: #333;
        background-color: #fff;
    }

    .product {
        width: calc(100vw - 10% - 10px);

        .desc {
            width: calc(100% - 190px);
        }
    }

    .card {
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 20px;

        .check {
            margin-left: 0;
            margin-right: 10px;
        }

        .sku-str {
            color: #999;
            font-size: 24px;
            margin: 10px 0;
        }
    }

    .footer-handle {
        box-sizing: border-box;
        padding: 0 20px;
        border-top: 2px solid #DEDEDE;
        height: 120px;
        background-color: #fff;

        .refunt-btn {
            width: 220px;
            height: 90px;
            background: #00D0BF;
            border-radius: 58px;
            color: #fff;
            font-size: 36px;
            margin-left: 20px;
        }
    }
}