.product-detail {
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;

    .scrollview {
        box-sizing: border-box;
        height: 100vh;
        padding-bottom: 110px;
    }

    .iconfont {
        color: #ddd
    }

    .p-info {
        margin-top: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #fff;

        .iconfont {
            color: #333
        }

        .price-box {
            color: #999;
            font-size: 42px;

            .new {}

            .old {
                font-size: 24px;
                margin-left: 24px;
                text-decoration: line-through;
            }

            .sale {
                font-size: 24px;
            }
        }

        .p-name {
            font-size: 28px;

            .name {
                max-width: 80%;
                line-height: 40px;

                word-break: break-all;
            }

            .iconfont {
                height: 60px;
                font-size: 60px;
                line-height: 60px;
            }

            .share {
                padding: 0;
                margin: 0;
                background-color: #fff;
                width: 100px;
                // height: 80px;
                line-height: 24px;
                font-size: 24px;
            }
        }
    }

    .act-sku {
        font-size: 30px;
        height: 100px;
        margin-top: 24px;
        background-color: #fff;
        color: #999;

        .desc {
            color: #333;
        }
    }

    .service {
        height: 100px;

        .item {
            font-size: 24px;
            margin-right: 24px;
        }
    }

    .service-list {
        box-sizing: border-box;
        padding: 0 32px;
        padding-bottom: 40px;

        .title {
            font-size: 30px;
            margin-bottom: 16px;
            font-weight: bold;
            height: 80px;
        }

        .service-item {
            font-size: 28px;
            margin-bottom: 60px;

            .service-name {
                color: #333;
                margin-bottom: 20px;
            }

            .service-spec {
                color: #999;
                font-size: 24px;
            }
        }
    }

    .product-desc {
        .title {
            font-size: 30px;
            height: 100px;
            background-color: #fff;
        }

        image,
        img {
            width: 100%;
        }
    }

    .footer {
        position: fixed;
        z-index: 1;
        background-color: #fff;
        width: 100%;
        bottom: 0;
        height: 120px;

        .user {
            margin-left: 56px;
            display: flex;
            box-sizing: border-box;
            font-size: 24px;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 36px;
                color: rgb(140, 140, 140);
            }

            .iconfont {
                font-size: 36px;
                margin-bottom: 4px;
            }

            .icon-gouwucheman {
                font-size: 37px;
            }

            .icon-kefu,
            .icon-gouwucheman {
                color: rgb(140, 140, 140);
            }

            .cart {}
        }

        .handle {
            display: flex;
            box-sizing: border-box;
            padding-left: 24px;
            padding-right: 24px;
            color: #fff;
            font-size: 28px;

            view {
                padding: 18px 36px;
            }

            .add_cart {
                width: 520px;
                padding: 0;
                height: 90px;
                background-color: #EF5F00 !important;
                border-radius: 58px;
                font-size: 36px;
                background-color: rgb(255, 159, 70);
                // border-radius: 40px 0 0 40px;
            }

            .buy {
                background-color: rgb(255, 102, 0);
                border-radius: 0 40px 40px 0;
            }
        }
    }


}