.product-detail {
    background-color: rgb(250, 250, 250);
    min-height: 100vh;

    .iconfont {
        color: #ddd
    }

    .p-info {
        margin-top: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #fff;

        .iconfont {
            color: #333
        }

        .price-box {
            color: #999;
            font-size: 42px;

            .new {}

            .old {
                font-size: 24px;
                margin-left: 24px;
                text-decoration: line-through;
            }

            .sale {
                font-size: 24px;
            }
        }

        .p-name {
            font-size: 28px;

            .name {
                max-width: 80%;
                line-height: 40px;

                word-break: break-all;
            }

            .iconfont {
                height: 60px;
                font-size: 60px;
                line-height: 60px;
            }

            .share {
                padding: 0;
                margin: 0;
                background-color: #fff;
                width: 100px;
                // height: 80px;
                line-height: 24px;
                font-size: 24px;
            }
        }
    }

    .act-sku {
        font-size: 30px;
        height: 100px;
        margin-top: 24px;
        background-color: #fff;
        color: #999;

        .desc {
            color: #333;
        }
    }

    .service {
        height: 100px;

        .item {
            font-size: 24px;
            margin-right: 24px;
        }
    }

    .service-list {
        box-sizing: border-box;
        padding: 0 32px;
        padding-bottom: 40px;

        .title {
            font-size: 30px;
            margin-bottom: 16px;
            font-weight: bold;
            height: 80px;
        }

        .service-item {
            font-size: 28px;
            margin-bottom: 60px;

            .service-name {
                color: #333;
                margin-bottom: 20px;
            }

            .service-spec {
                color: #999;
                font-size: 24px;
            }
        }
    }

    .product-desc {
        .title {
            font-size: 30px;
            height: 100px;
            background-color: #fff;
        }

        image,
        img {
            width: 100%;
        }
    }

    .footer {}



}