@import '../../../../../common/mixins/index.scss';

.pruduct_wrap {
    background-color: #fff;
    width: 100%;
    border-radius: 20px;
    // box-shadow: 0px 0px 15px 0px rgba(9, 44, 76, 0.1);
    color: #333;
    margin-bottom: 15px;
    white-space: nowrap;

    .shop_name {
        width: 100%;
        @include line();
        font-size: 36px;
        margin-bottom: 24px;
        position: relative;

        .icon-shangpu {
            font-size: 44px;
            color: #999;
            margin-right: 24px;
        }

        .icon-right {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .product_item {
        width: 100px;
        // display: flex;
        display: inline-block;
        position: relative;
        // margin-bottom: 70px;
        margin-right: 15px;
        color: #333;

        &:nth-last-child(1) {
            margin-bottom: 30px;
        }

        .name {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            @include line();
            font-size: 24px;
        }

        .img {
            width: 100px;
            height: 100px;
            border-radius: 8px;
            overflow: hidden;
            // margin-right: 15px;

            image {
                width: 100px;
                height: 100px;
            }

        }
    }

}