.history_search_wrap {

    .hot_box {
        .hot_title {
            display: flex;
            justify-content: space-between;
        }

        .hot_list {
            display: flex;
            flex-wrap: wrap;

            .item {}
        }
    }

    .history_box {
        box-sizing: border-box;
        padding: 0 16px;

        .history_title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 80px;
            color: #333;
        }

        .iconfont {
            font-size: 32px;
        }

        .history_list {
            display: flex;
            flex-wrap: wrap;
            font-size: 24px;
            margin-top: 20px;

            .item {
                border-radius: 20px;
                min-width: 60px;
                padding: 4px 16px;
                background-color: rgb(238, 238, 238);
                color: rgb(104, 104, 104);
                margin-right: 8px;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}