@import '../../../../common/mixins/index.scss';

.order_detail_wrap {
    background-color: #f3f3f3;
    height: 100vh;
    width: 100vw;
    padding-bottom: 120px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
    justify-content: flex-start;

    .discount {
        .discount_dig {
            width: 28px;
            height: 28px;
            background: #FE2811;
            color: #fff;
            font-size: 24px;
            border-radius: 4px;
            margin-right: 10px;
        }

        .price {
            color: #FE2811 !important;
        }
    }


    .bg {
        width: 100vw;
        background: #00D0BF;
    }

    .code {
        font-size: 48px;
        margin: 0 auto;
        width: 718px;
        height: 130px;
        background: #FFFFFF;
        border-radius: 18px;
        position: relative;

        .fixed-tag {
            position: absolute;
            left: 0;
            top: 0;
            width: 130px;
            height: 45px;
            display: flex;
            justify-content: center;
            vertical-align: center;
            align-items: center;
            font-size: 26px;
            color: #333333;
            background: rgba(0, 208, 191, 0.25);
            border-radius: 18px 0px 18px 0px;
           
        }

        .num {
            margin-right: 8px;
            &:nth-last-child(1) {
                margin-right: 0;
            }
        }

    }

    .title-status {
        width: 100%;
        height: 103px;
        font-size: 34px;
        color: #333;

        .msg {}

        .desc {
            font-size: 30px;
        }
    }

    .square {
        width: 100vw;
        // height: 160px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 16px;
        color: #333;
        font-size: 28px;
        padding-top: 25px;
        padding-bottom: 32px;

        .iconfont {
            color: #00D0BF;
            margin-right: 15px;
        }

        .name {
            color: #666;
            margin-right: 15px;
        }

        .phone {
            color: #666;
        }

        .info {
            margin-bottom: 15px;
        }

        .address {
            font-size: 34px;
        }
    }

    .line {
        margin-top: -22px;
        width: 734px;
        height: 2px;
        background: #DEDEDE;
    }

    .card {
        height: auto;
        margin-top: 20px;
        width: 100vw;
        box-sizing: border-box;
        padding: 25px 16px 25px 20px;
        padding-top: 0;
        color: #444;
        background-color: #fff;
        margin-bottom: 20px;

        .product_item {
            width: 100%;
            // height: 150px;
            display: flex;
            flex-shrink: 0;
            position: relative;
            font-size: 28px;
            margin-bottom: 52px;

            .left {
                border-radius: 20px;
                width: 160px;
                height: 160px;
                margin-right: 15px;
                overflow: hidden;
            }

            .right {
                width: calc(100% - 170px);
                // height: 100%;

                .desc {
                    // height: 100%;
                    justify-content: flex-start;
                    margin-top: 0;

                    .product_name {
                        color: #333;
                    }

                    ._sku {
                        margin-top: 10px;
                        margin-bottom: 13px;
                        font-size: 24px;
                        color: #999;
                    }
                }

                .price-box {
                    align-items: flex-end;
                    color: #333;

                    .number {
                        font-size: 28px;
                        margin-left: 35px;
                    }

                    .price {
                        font-weight: bold;
                        font-size: 32px;
                        color: #333;
                    }
                }
            }
        }

        .order-desc {
            margin-top: 20px;
            color: #333;

            .line {
                margin: 20px 0;
            }

            .item {
                font-size: 28px;
                height: 55px;

                .price {
                    font-weight: bold;
                }

                .right {
                    .price {
                        font-size: 36px;
                    }
                }

                .copy {
                    color: rgb(39, 38, 36);
                    font-size: 28px;
                    padding: 0 16px;
                }
            }
        }

    }

    .summary {
        box-sizing: border-box;
        padding: 25px 16px;
        margin-top: 0;

        ._title {
            font-size: 32px;
            margin-bottom: 8px;
        }

        .item {
            // height: 40px;
            color: #333;
            margin-bottom: 15px;
            font-size: 28px;

            &:nth-last-of-type(1) {
                margin-bottom: 0 !important;
            }
        }

        .copy_btn {
            border: 2px solid #333333;
            border-radius: 29px;
            font-size: 26px;
            background: #FFFFFF;
            padding: 4px 12px;
            margin-left: 15px;
        }
    }

    .footer {
        width: 100%;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: 110px;
        box-sizing: border-box;
        padding: 24px 16px 24px 24px;

        .btns {
            justify-content: flex-end;
            color: #333;

            .btn {
                margin-left: 15px;
                width: 150px;
                height: 58px;
                font-size: 26px;
                background: #FFFFFF;
                border-radius: 29px;
                border: 2px solid #333333;
            }

            .act-btn {
                color: #fff;
                background: #00D0BF;
                border: 2px solid #00D0BF;
                border-radius: 29px;
            }
        }
    }
}