@import '../../../../common/mixins/index.scss';

.order_detail_wrap {
    background-color: #f3f3f3;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    align-items: center;
    justify-content: flex-start;

    .title-status {
        width: 100%;
        height: 200px;
        background-color: rgb(255, 199, 116);
        box-sizing: border-box;
        color: #fff;
        font-size: 40px;
        display: flex;
        padding: 40px 20px 0 100px;
    }

    .square {
        width: 100vw;
        height: 160px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 16px;
        color: #333;
        font-size: 28px;

        .name {
            margin-right: 15px;
        }

        .phone {}

        .info {
            margin-bottom: 15px;
        }

        .address {
            font-size: 32px;
        }
    }

    .card {
        height: auto;
        margin-top: 34px;
        width: 95%;
        box-sizing: border-box;
        box-shadow: 0px 0px 10px 0px rgba(9, 44, 76, 0.1);
        padding: 12px 16px;
        border-radius: 20px;
        color: #444;
        background-color: #fff;
        margin-bottom: 18px;

        .product_item {
            width: 100%;
            height: 150px;
            display: flex;
            flex-shrink: 0;
            position: relative;
            font-size: 28px;
            margin-top: 20px;

            .left {
                border-radius: 20px;
                width: 150px;
                height: 150px;
                margin-right: 20px;
                overflow: hidden;
            }

            .right {
                width: calc(100% - 170px);
                height: 100%;

                .desc {
                    height: 100%;
                    justify-content: space-around;
                    margin-top: 0;

                    .product_name {
                        color: #444;
                        @include line(2)
                    }

                    .sku {
                        font-size: 24px;
                        color: rgb(155, 155, 155);
                    }
                }

                .price-box {
                    align-items: flex-end;
                    color: #999;

                    .price {
                        font-size: 36px;

                    }
                }
            }
        }

        .order-desc {
            margin-top: 30px;
            font-size: 24px;
            color: #888;

            .item {
                height: 48px;

                .copy {
                    color: rgb(39, 38, 36);
                    font-size: 28px;
                    padding: 0 16px;
                }
            }
        }

    }

    .summary {
        margin-top: 12px;

        ._title {
            font-size: 32px;
            margin-bottom: 8px;
        }

        .item {
            height: 40px;
            color: #999;
            font-size: 24px;
        }
    }

    .footer {
        width: 100%;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        height: 110px;
        box-sizing: border-box;
        padding: 24px 16px 24px 24px;

        .btns {
            justify-content: flex-end;

            .btn {
                padding: 0 30px;
                height: 60px;
                border-radius: 40px;
                margin-left: 10px;
                font-size: 26px;
                border: #eee 2px solid;
            }
        }
    }
}