.integral_wrap {
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(250, 250, 250);

    .head {
        box-sizing: border-box;
        padding: 0 16px;
        color: #999;
        margin: 25px 0 10px 0;
        font-size: 26px;
    }

    .remaining {
        margin-top: 0;
        color: #333;
        font-size: 32px;
        margin-bottom: 30px;
    }

    .info_wrap {
        width: 100%;
        box-sizing: border-box;
        background-color: #fff;
    }

    .btn {
        width: 90%;
        height: 90px;
        background-color: pink;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wx_pay {
        .welfare_box {
            box-sizing: border-box;
            padding: 0 16px;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 25px;

            .welfare_item {
                width: calc(33.33% - 16px);
                height: 112px;
                background: rgba(0, 208, 191, 0.15);
                border-radius: 8px;
                transition: 300ms;
                margin-bottom: 20px;

                .moneny {
                    font-size: 24px;
                }

                .price {
                    margin-bottom: 10px;
                    font-weight: bold;
                    font-size: 32px;
                }

                .welfare {
                    font-size: 26px;
                    color: #999;
                }

                &:nth-child(3n-1) {
                    margin: 0 20px;
                }
            }
        }

    }

    .pay-float {
        .title {
            height: 100px;
            font-size: 34px;
        }

        ._price {
            color: #333;
            font-size: 40px;
            margin-top: 40px;
        }

        .input {
            margin: 0 40px;
            margin-top: 60px;
            height: 70px;
            border-bottom: 2px solid #999999;

            input {
                width: 90%;
                font-size: 30px;
                text-align: center;
            }
        }

        .btn {
            margin-top: 92px;
            border-radius: 0;
            width: 100vw;
            height: 110px;
            color: #fff;
            font-size: 36px;
            background: #00D0BF;
        }
    }
}