@import '../common/mixins/index.scss';

.icon-close,
.iconguanbi1,
.icon-roundclose {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 2;
}

.handle_input {
    display: flex;
    height: 56px;

    .num {
        font-size: 28px;
        width: 100px;
        height: 100%;
        margin: 0 2px;
        background-color: rgb(238, 240, 240);
        text-align: center;
        border-top: 2px solid #999999;
        border-bottom: 2px solid #999999;
        background-color: #fff;
        margin: 0;

        &::placeholder {
            color: #333;
        }
    }

    .btn {
        line-height: 50px;
        text-align: center;
        width: 64px;
        height: 100%;
        background-color: rgb(245, 245, 245);
        font-size: 40px;
        border-radius: 10px 0px 0px 10px;
        color: #333;
        border: 2px solid #999999;
        background-color: #fff;

        &:nth-of-type(2) {
            border-radius: 0 10px 10px 0;
        }
    }
}

.search {
    background-color: #fff;

    .iconfont {
        margin-left: 24px;
    }
}

.card {
    padding-bottom: 70px;
    padding-top: 32px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #fff;
    // height: 100%;
    width: calc(100vw - 32px);
    flex-shrink: 0;

    .check {
        margin-left: 10px;
        height: 100%;
        width: 80px;

        // .radio {
        //     width: 40px;
        //     height: 40px;
        //     // color: ;
        // }
    }

    .product {
        max-width: calc(100vw - 10% - 10px);
        flex-shrink: 0;
        color: #333;
        align-items: flex-start !important;

        .img {
            width: 160px;
            height: 160px;
            border-radius: 8px;
            overflow: hidden;
            margin-right: 15px;
        }

        .desc {
            justify-content: center;
            height: 100%;
            max-width: calc(100% - 190px);

            .price {
                margin-right: 25px;
                font-size: 36px;
            }

            .p-name {
                word-break: break-all;
                @include line(2);
                font-size: 28px;
                // margin-bottom: 8px;
            }

            .p-sku {
                width: max-content;
                padding: 8px 20px;
                margin: 10px 0;
                font-size: 24px;
                background: #EDEDED;
                border-radius: 10px;
                color: #333;

                .iconfont {
                    margin-left: 15px;
                    font-size: 24px;
                }

                &-item {
                    color: #999;
                    padding: 4px 8px;
                    margin-right: 12px;
                    border-radius: 8px;
                    background-color: #eee;

                    &:nth-last-child(1) {
                        margin-right: 0;
                    }
                }
            }

            .p-num {
                margin-top: 5px;
            }
        }
    }
}