.theme-color {
    color: #F20013;
}

.price-color {
    color: #F20013;
}


.theme-bg {
    background: #5290FF;
}

.index {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 140px !important;
}