.theme-color {
    color: #F20013;
}

.price-color {
    color: #F20013;
}


.theme-bg {
    background: #5290FF;
}

.index {
    box-sizing: border-box;
    padding-bottom: calc(env(safe-area-inset-bottom) + 70px) !important;
}