.theme-color {
    color: #F20013;
}

.price-color {
    color: #F20013;
}


.theme-bg {
    background: #5290FF;
}

.index {
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 140px !important;
}


.price {
    color: #FE2811;
}

.del {
    color: #666;
    font-size: 26px;
    text-decoration: line-through
}

._money {
    font-size: 24px;
}


.desc-item {
    // 补贴0.31
    border-radius: 4px;
    border: 2px solid #00D0BF;
    height: 36px;
    padding: 0 12px;
    color: #00D0BF;
    margin-right: 10px;
    font-size: 24px;
}