@import '../../../../common/mixins/index.scss';

.address_wrap {
    background-color: #fff;
    // border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    padding: 25px 16px 32px 16px;
    margin: 0 16px;
    box-sizing: border-box;
    // box-shadow: 0px 0px 15px 0px rgba(9, 44, 76, 0.1);

    .icon-dingwei {
        // padding: 8px;
        font-size: 36px;
        border-radius: 50%;
        // background-color: #00D0BF;
        color: #00D0BF;
        margin-right: 10px;
    }

    .s_address {
        color: #333;
        font-size: 28px;
        width: 100%;
        position: relative;

        .phone {
            color: #999;
            margin-left: 15px;
            // font-size: 26px;
        }

        .address {
            max-width: 75vw;
            margin-bottom: 15px;
            font-size: 34px;
            font-weight: bold;
            @include line(2);
        }

        .icon-right {
            position: absolute;
            top: 4px;
            right: 0;
        }
    }


    .shop-address {
        color: #333;
        font-size: 28px;

        .address {
            font-weight: bold;
            font-size: 34px;
            margin-bottom: 25px;
        }
    }

}