.info_wrap {
    min-height: 100vh;
    background-color: #eee;

    .handle {
        width: 100%;
        height: 120px;
        background-color: #fff;
        padding: 0 20px 0 20px;
        box-sizing: border-box;

        .right {
            flex-shrink: 0;
            width: calc(100% - 220px);
            height: 40px;
            // background-color: #ccc;
            text-align: left;

            input {
                color: #979797;
            }

            .picker,
            picker {
                width: 100%;
                color: #979797;
            }
        }

        .left {
            font-size: 32px;
            width: 220px;
        }
    }
}