.order_confirm_wrap {
    padding-top: 12px;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 150px;
    background-color: #f3f3f3;

    .textarea {
        background-color: rgb(243, 243, 243);
        width: 70vw;
        height: 250px;
        padding: 16px;
        box-sizing: border-box;
    }

    .icon-right {
        font-size: 32px;
        color: #ccc;
    }

    .handle {
        color: #333;
        width: 100%;
        height: 100px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 16px 16px;

        .right {
            max-width: 70%;
            word-break: break-all;
            display: flex;
            align-items: center;
            color: #333;
            font-size: 28px;

            .iconfont {
                color: #333;
                font-size: 24px;
            }
        }
    }

    .footer {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 120px;
        bottom: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 0 16px;
        justify-content: space-between;

        .price-box {
            font-size: 28px;

            .all {
                font-size: 32px;
                margin-right: 20px;

                .price {
                    font-weight: bold;
                    font-size: 28px;
                }
            }

            .dis {
                color: #666;
                font-size: 24px;
            }
        }

        .btn {
            width: 220px;
            height: 90px;
            background: #EF5F00;
            border-radius: 58px;
            font-size: 36px;
            color: #fff;
        }
    }

    .float_bottom {
        .title {
            position: sticky;
            top: 0;
            background-color: #f3f3f3;
            z-index: 1;
            // height: 100px;
            // border-bottom: 2px solid rgb(248, 248, 248);
            // font-size: 40px;
            // color: #444;
            // margin-bottom: 20px;
        }

        .swiper_ex {
            // background-color: #fff;
        }
    }


    // 优惠券
    .coupons_wrap {

        .nav-item-act {}

        .nav-item {}

    }

}