.order_confirm_wrap {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 140px;

    background-color: #f3f3f3;

    .scrollview {
        box-sizing: border-box;
        background-color: #f3f3f3;
        // padding: 0 16px;
        height: 100%;
        // padding-bottom: 150px;
    }

    .deliveryMethod {
        margin: 0 16px;
        padding-top: 30px;
        align-items: flex-end;

        .tab {
            flex: 1;
            font-size: 28px;
            height: 70px;
            color: #333;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 0px 20px 0px 0px;
            transition: 400ms;
        }

        .act-tab {
            background: #FFFFFF;
            font-weight: bold;
            height: 80px;
            border-radius: 20px 20px 0px 0px;
        }
    }

    .textarea {
        background-color: rgb(243, 243, 243);
        width: 70vw;
        height: 250px;
        padding: 16px;
        box-sizing: border-box;
    }

    .icon-right {
        font-size: 32px;
        color: #ccc;
    }

    .handle {
        color: #333;
        width: 100%;
        height: 100px;
        background-color: #fff;
        box-sizing: border-box;
        padding: 16px 16px;

        .right {
            max-width: 70%;
            word-break: break-all;
            display: flex;
            align-items: center;
            color: #333;
            font-size: 28px;

            .iconfont {
                color: #333;
                font-size: 24px;
            }
        }
    }

    .order-desc {
        border-top: #DEDEDE solid 2px;
        border-bottom: #DEDEDE solid 2px;
        background-color: #fff;
        color: #333;
        margin-bottom: 15px;
        box-sizing: border-box;
        padding: 20px 16px;

        .line {
            margin: 20px 0;
        }

        .item {
            font-size: 28px;
            height: 70px;
        }
    }


    .footer {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 120px;
        bottom: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 0 16px;
        justify-content: space-between;

        .price-box {
            font-size: 28px;

            .all {
                font-size: 32px;
                margin-right: 20px;

                .price {
                    font-weight: bold;
                    font-size: 28px;
                }
            }

            .dis {
                color: #666;
                font-size: 24px;
            }
        }

        .btn {
            width: 220px;
            height: 90px;
            background: #00D0BF;
            border-radius: 58px;
            font-size: 36px;
            color: #fff;
        }
    }

    .float_bottom {
        .title {
            position: sticky;
            top: 0;
            background-color: #f3f3f3;
            z-index: 1;
            // height: 100px;
            // border-bottom: 2px solid rgb(248, 248, 248);
            // font-size: 40px;
            // color: #444;
            // margin-bottom: 20px;
        }

        .swiper_ex {
            // background-color: #fff;
        }
    }


    // 优惠券
    .coupons_wrap {

        .nav-item-act {}

        .nav-item {}

    }

}