.order_confirm_wrap {
    padding: 0 16px;
    padding-top: 12px;
    min-height: 100vh;
    box-sizing: border-box;
    padding-bottom: 150px;
    background-color: rgb(250, 250, 250);

    .textarea {
        background-color: rgb(243, 243, 243);
        width: 70vw;
        height: 250px;
        padding: 16px;
        box-sizing: border-box;
    }

    .icon-right {
        font-size: 32px;
        color: #ccc;
    }

    .handle {
        color: #444;
        width: 100%;
        height: 80px;
        background-color: #fff;
        margin-top: 24px;
        box-sizing: border-box;
        padding: 16px 16px;
        border-radius: 14px;
        // box-shadow: 0px 0px 15px 0px rgba(9, 44, 76, 0.1);
        font-size: 30px;

        .right {
            max-width: 70%;
            word-break: break-all;
            display: flex;
            align-items: center;
            color: rgb(250, 115, 36);
            font-size: 28px;

            .iconfont {
                color: rgb(250, 115, 36);
                font-size: 24px;
            }
        }
    }

    .footer {
        position: fixed;
        background-color: #fff;
        width: 100%;
        height: 140px;
        bottom: 0;
        left: 0;
        z-index: 1;
        box-sizing: border-box;
        padding: 0 16px;
        justify-content: space-between;

        .price {
            font-size: 28px;

            .monent {
                color: rgb(255, 103, 32);
                font-size: 30px;
                vertical-align: text-bottom;
            }

            .p {
                color: rgb(255, 103, 32);
                font-size: 42px;
                font-weight: bold;
                vertical-align: baseline;
            }
        }

        .btn {
            padding: 20px 36px;
            background-color: rgb(255, 103, 32);
            border-radius: 40px;
            color: #fff;
            margin-left: 32px;
        }
    }

    .float_bottom {
        .title {
            position: sticky;
            top: 0;
            background-color: #f3f3f3;
            z-index: 1;
            // height: 100px;
            // border-bottom: 2px solid rgb(248, 248, 248);
            // font-size: 40px;
            // color: #444;
            // margin-bottom: 20px;
        }

        .swiper_ex {
            // background-color: #fff;
        }
    }


    // 优惠券
    .coupons_wrap {

        .nav-item-act {}

        .nav-item {}

    }

}